body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #292E1E;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}
header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 24px;
}
.intro {
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    animation: fadeIn 2s;
}
.intro img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.about-us {
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    animation: fadeIn 2s;
}
.about-us img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 15px;
}